:root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);
     background: #242424;

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;

     --line-and-half: 1.5;
     --large-header-title: 48px;
     --background-body-color: rgb(176, 187, 198);
     --gradient-theme: rgb(42, 96, 124);
}

a {
     font-weight: 500;
     color: #646cff;
     text-decoration: inherit;
}

a:hover {
     color: #535bf2;
}

body {
     margin: 0;
     min-width: 320px;
     min-height: 100vh;
}

h1 {
     font-size: 3.2em;
     line-height: 1.1;
}

button {
     border-radius: 8px;
     border: 1px solid transparent;
     padding: 0.6em 1.2em;
     font-size: 1em;
     font-weight: 500;
     font-family: inherit;
     background: #1a1a1a;
     cursor: pointer;
     transition: border-color 0.25s;
}

button:hover {
     border-color: #646cff;
}

button:focus,
button:focus-visible {
     outline: 4px auto -webkit-focus-ring-color;
}

.profile-footer {
     text-align: center;
     position: fixed;
     inset: auto 0 0 0;
     padding: 1em;
}

@media (prefers-color-scheme: light) {
     :root {
          color: #213547;
          background: #ffffff;
     }

     a:hover {
          color: #747bff;
     }

     button {
          background: #f9f9f9;
     }
}

/*-------------------------------------------------------------------------------
   The hero section is the entry point of the application. It presents a graphical 
   splash screen and options are available at nav bar
  --------------------------------------------------------------------------------*/
.hero {
     width: 100%;
     height: 100vh;
     position: relative;
     text-align: center;
     color: white;
}

.hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.hero .centered {
     width: 50%;
     position: absolute;
     top: 50%;
     left: 75%;

     transform: translate(-50%, -50%);
}

.hero .hero-container {
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;

     display: flex;
     padding-top: 40px;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     align-items: flex-end;
     margin: 10px 50px 20px 0;
     color: #fff;
}

.hero h1 {
     font-size: var(--large-header-title);
     font-weight: 300;
     line-height: 56px;
}

.hero p {
     font-size: 20px;
     font-style: italic;
}

.hero p:hover {
     color: #cbcb5f;
     font-size: 28px;
}

/*----- END OF HERO -----*/

/*-------------------------------------------------------------------------------
   Contacts styling css
  --------------------------------------------------------------------------------*/
.card {
     width: 90% !important;
     margin-left: 10px;
     margin-right: 10px;
}

.about-card {
     width: 550px;
     background: #efefef;
     border: none;
     cursor: pointer;
     transition: all 0.5s;
}

/*----- End of Contacts -----*/

.emailaddress {
     font-size: 18px;
     font-weight: 600
}

.name {
     font-size: 22px;
     font-weight: bold
}

.image img {
     transition: all 0.5s
}

.about-card:hover .image img {
     transform: scale(1.25)
}

/*-------------------------------------------------------------------------------
   Projects styling css
--------------------------------------------------------------------------------*/
.project-card {
     border: none;
     border-radius: 10px;
     background: lightgray;
}

.c-details span {
     font-weight: 300;
     font-size: 13px
}

.project-icon {
     width: 50px;
     height: 50px;
     background: #eee;
     border-radius: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 39px
}

.project-badge span {
     background: #fffbec;
     width: 60px;
     height: 25px;
     padding-bottom: 3px;
     border-radius: 5px;
     display: flex;
     color: #fed85d;
     justify-content: center;
     align-items: center
}

.project-progress {
     height: 10px;
     border-radius: 10px;
     background: rgb(36, 104, 36)
}

.project-progress div {
     background: red
}

.text1 {
     font-size: 14px;
     font-weight: 600
}

.text2 {
     color: #a5aec0
}